<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login Page</title>

    <!-- Reference Bootstrap files -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="login-page.css" rel="stylesheet"/>

</head>

<body>

<div class="sidenav">
    <div class="login-main-text">
        <h2>Employee<br> Managment<br> Application</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form th:action="@{/authenticateUser}"
                  method="POST" class="form-horizontal">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <a th:href="@{/register/showRegistrationForm}" type="submit" class="btn btn-secondary">Register</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>